.d-inline-flex {
    width: 100%;
}

.instagram-card{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 9px;
	box-shadow: 1px 1px 8px rgba(0,0,0,.05);
	display: inline-block;
	margin-bottom: 15px;
	max-width: 600px;
}

.instagram-card-user-image{
	display: block;
	margin: 0 auto 15px;
	max-width: 100%;
	border-radius: 5px;
}

.instagram-card-time{
	float: left;
	text-align: left;
	padding-bottom: 5px;
	width: 100%;
	color: #999;
}

.instagram-card-like{
	float: right;
	text-align: right;
	padding-bottom: 5px;
	width: 100%;
	color: #999;
}

